@import "https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700";

.quote-box {
    margin: 0 auto;
    width: 70%;

    background: #7D212E;
    border: 3px solid #510207;

    display: grid;
    grid-template-columns: repeat(6, minxmax(10vw, auto));
    grid-template-rows: repeat(8, minxmax(10vw, auto));

    font-family: "Oswald";

    color: white;
}

.quote-img-box {
    grid-row: 1 / span 4;
    grid-column: 1 / span 5;
}

.quote-img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.quote-season {
    grid-row: 6;
    grid-column: 1;
}

.quote-episode {
    grid-row: 6;
    grid-column: 4;
}

.quote-quote {
    grid-row: 5;
    grid-column: 1 / span 6;

    border-bottom: 2px solid #510207;
}

.quote-delete {
    grid-row: 6;
    grid-column: 6;
}

.quote-push {
    grid-row: 6;
    grid-column: 1;
}

.quote-random-external {
    grid-row: 6;
    grid-column: 3 / 5
}

.quote-counter {
    display: flex;
    justify-content: center;
    align-content: center;

    margin: 0 auto;
    
    color: white;
    -webkit-text-stroke-width: .04vw;
    -webkit-text-stroke-color: #7D212E;
    font-size: 3vw;

    
}

.swanson-quotes {
    margin: 5vh 0vw;
}

.previous-button { 
    grid-row: 8;
    grid-column: 1;
}

.random-button {
    grid-row: 8;
    grid-column: 3 / 5;
}

.next-button {
    grid-row: 8;
    grid-column: 6;
}



