@import "https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700";


footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;

    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    color: white;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #510207;
    
    border-top: 3px solid #510207;
    background: #7D212E;
}